<%- include('./layout/_header.ejs'); -%>
  <!-- 视频主页 start-->
  <div class="container" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-lg-9">
        <video controls width="100%" src="<%= result.path %>" id="<%= result.id %>"></video>
        <h3><%= result.name%></h3>
        <% for(let i=0;i < result.tags.length;i++){ %>
          <span class="label label-warning"><%= result.tags[i] %></span>
        <% } %>
        <p style="padding-top: 10px;">上映地区：北京</p>
        <p>上映地区：2020-13-35</p>
        <p style="text-indent:2em" ><%= result.intro%></p>
      </div>
      <div class="col-lg-3">
       <div class="row">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            时代少年团精彩集锦
          </a>   
          <% for(let j=0;j < 5;j++){ %>
            <a href="/movies/<%= list[j].id %>.html" class="list-group-item"> 
              <video src="<%= list[j].path %>"  alt="" width="60%"></video>
              <span><%= list[j].name %></span>
            </a>
          <% } %>  
          <div class="cl-xs-8 col-xs-offset-2">
            <a href="/movies/movie/creat"><button type="button" class="btn btn-warning" style="margin-top: 40px">添加我喜爱的影片信息</button>   
            </a>
          </div>
       </div>
      </div>
    </div>
  </div>
    <!-- 视频主页end -->
<%- include('./layout/_footer.ejs'); -%>