<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>视频播放项目</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/holder/2.9.6/holder.min.js"></script>
</head>

<body>
  <!--导航条start  -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!--导航条第一个 -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">99时代电影</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/movie/list">全部影片</a></li>
          <%let litteT = [...types].slice(0,6)%>
          <% for(let i=0;i < litteT.length; i++){%>
            <% if(litteT[i] == request.query.type){%>
              <li class="active"><a href="/movie/list?type=<%= litteT[i] %>"><%= litteT[i]%></a></li>
            <% } else { %>
              <li><a href="/movie/list?type=<%= litteT[i] %>"><%= litteT[i]%></a></li>
            <% } %> 
          <% } %>
        </ul>
        <!-- 搜索框 -->
        <form class="navbar-form navbar-left" method="GET" action="/movie/list">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="关键字" name="keyword" value="<%= request.query.keyword %>">
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>
        <!-- 搜索框 -->
        <ul class="nav navbar-nav navbar-right nav-pills" role="tablist">
            <% if(request.session && request.session.uid && request.session.email){   %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false"><%= request.query.name%><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">我的收藏</a></li>
              <li><a href="#">我的浏览</a></li>
              <li><a href="#">我的点赞</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">退出登录</a></li>
          <% } else {%>
            <li class="dropdown">
              <a href="/register" role="button" aria-haspopup="true" >注册</a>
          </li>
          <li class="dropdown">
            <a href="/login" role="button" aria-haspopup="true" >登录</a>
        </li>
          <% } %>      
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- 导航条end -->